{% extends "base.html" %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="/static/browse.css"></link>
  <script type="text/javascript">
  if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
    document.location = "/mobilebrowse/{{index}}";
  }
  </script>
{% endblock %}
{% block content %}

{% autoescape false %}

  {{ html_content }}

{% endautoescape %}

<script type="text/javascript">
 var url = document.URL;
 console.log(url);
 var i = url.lastIndexOf('/');
 var s = url.substring(i+1);
 i = parseInt(s);
$(function() {
  document.onkeydown = handleKey;
  function handleKey(evt) {

    evt = evt || window.event;
    switch (evt.keyCode) {
      case 37:
      i--;
      window.location = "/browse/" + i;
      break;

      case 39:
      i++
      window.location = "/browse/" + i;
      break;
    }
  };
});
</script>

{% endblock %}
