{% extends "mobilebase.html" %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="/static/css/mobileview.css"></link>
{% endblock %}

{% block content %}

<div class="image" data-id="{{index}}">
  <a href="/view/{{next}}">
    <img src="/{{imgitem}}"></img>
  </a>
</div>



<script type="text/javascript">
  $(function() {
    $('a').each(function() { 
      $(this).attr("rel", "external");
    });
    $( ".ui-page" ).on("swipeleft", lefthandler );
    $( ".ui-page" ).on("swiperight", righthandler);
    $( ".ui-page" ).on("scrollstop", uphandler);

    function lefthandler(event) {
      window.location = "/mobile/{{next}}";
    }

    function righthandler(event) {
      window.location = "/mobile/{{prev}}";
    }
    function uphandler(event) {
      window.location = "/pop";
      }
  });

</script>

{% endblock %}

